*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.app {
    display: flex;
}

.clients-all-list ul {
    max-height: 100vh;
    overflow: scroll;
}

.clients-all-list ul li {
    width: 250px;
    background: grey;
    border-bottom: 3px solid dimgray;
    color: white;
    display: flex;
    border-radius: 10px;
    margin: 5px;
}

.clients-all-list ul li p {
    margin-top: 10px;
    margin-left: 5px;
}

.logo-users {
    width: 250px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;

}

.logo-users img {
    box-shadow: 0px 0px 10px red;
}

.logo-users img:hover {
    box-shadow: 0px 0px 10px green;
}

.search-user {
    width: 200px;
    background: none;
    border: 2px solid black;
    height: 20px;
    margin-left: 28px;
    margin-top: 10px;
    outline: 0;
    font-size: 15px;
    color: blue;
}

.search-user:focus {
    border: 2px solid orange;
}

.active-blc-user {
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
}

.description-user-active {
    margin-left: 15px;
}

.logo-active {
    margin-top: 5px;
}
